/* App.css */

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #FFFFFF; /* Set the background color */
}

/* Media query for 16:9 aspect ratio */
@media (max-width: 650px) {
  html, body, #root {
    background-color: #EFEFEF; /* Set the background color for mobile devices */
  }
}
